.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-slidein infinite 5s alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-slidein {
  from {
    margin-left: 80%;
    /* margin-right: -20%; */
    width: 100%;
  }

  to {
    margin-left: -80%;
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.anaglyph {
  letter-spacing: 6px;
  text-shadow: red -3px 0, cyan 3px 0;
  /* transition: text-shadow 200ms; */
}

.anaglyph:hover {
  text-shadow: red -6px 0, cyan 6px 0;
}
